* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 10%;
}

.profile-pic {
    width: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 42px;
    font-weight: 700;
}

.subtitle {
    margin: 15px 0 25px;
    color: #444;
}

.btn {
    background: #0b6b4f;
    color: #fff;
    padding: 12px 28px;
    border-radius: 25px;
    text-decoration: none;
}

/* ABOUT */
.about {
    background: #0b6b4f;
    color: white;
    padding: 60px 8%;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about img {
    width: 150px;
    border-radius: 50%;
}

.about h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.link {
    color: #e8ffdf;
    text-decoration: underline;
}

/* INTERESTS */
.interests {
    padding: 60px 8%;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #222;
    color: #fff;
    padding: 25px;
    border-radius: 12px;
    font-size: 15px;
}

/* SKILLS */
.skills {
    padding: 60px 8%;
    text-align: center;
}

.skill {
    background: linear-gradient(90deg, #0b6b4f, #6bcf63);
    color: white;
    padding: 15px;
    border-radius: 25px;
    margin: 12px auto;
    max-width: 700px;
}

/* EDUCATION */
.education {
    padding: 50px 8%;
    text-align: center;
}

.education ul {
    list-style: none;
}

.education li {
    margin: 10px 0;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    font-size: 14px;
}
